export(crosscheck.MLBAMData)
export(exWPct)
export(gameday)
export(getData)
export(getDataMonthly)
export(getDataWeekly)
export(getFielderRAA)
export(getFielderResp)
export(getGameIds)
export(getIDMap)
export(getLinearWeightsModel)
export(getModel)
export(getModel.GameDayPlays)
export(getModelFieldingCollective)
export(getRunEx)
export(getWAR.GameDayPlaysExt)
export(getrWAR)
export(makeWAR)
export(makeWAR.GameDayPlays)
export(plot.GameDayPlays)
export(plot.do.RAA)
export(readData.gameday)
export(shakeWAR)
export(summary.GameDayPlays)
export(summary.RAA)
export(tabulate.GameDayPlays)
export(updateGame)
exportClasses(GameDayPlays)
exportClasses(GameDayPlaysExt)
exportClasses(RAA)
exportMethods(summary)
import(RCurl)
import(Sxslt)
import(XML)
import(mosaic)
import(plyr)
import(stringr)
