export(bbplot)
export(exWPct)
export(gameday)
export(getData)
export(getDataMonthly)
export(getDataWeekly)
export(getFieldResp)
export(getFielderRAA)
export(getFielderResp)
export(getGameIds)
export(getRunEx)
export(getWAR)
export(linearWeights)
export(makeWAR)
export(readData.gameday)
export(shakeWAR)
export(summary.war)
export(updateGame)
export(warplot)
import(RCurl)
import(XML)
import(mosaic)
import(plyr)
import(stringr)
